<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Dynamic Doctor Catalogue</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>City</display-name>
    <servlet-name>City</servlet-name>
    <servlet-class>meetmydoctor.City</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>City</servlet-name>
    <url-pattern>/City</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Connectivity</display-name>
    <servlet-name>Connectivity</servlet-name>
    <servlet-class>meetmydoctor.Connectivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connectivity</servlet-name>
    <url-pattern>/Connectivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Patient_entry</display-name>
    <servlet-name>Patient_entry</servlet-name>
    <servlet-class>meetmydoctor.Patient_entry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Patient_entry</servlet-name>
    <url-pattern>/Patient_entry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Doctor_entry</display-name>
    <servlet-name>Doctor_entry</servlet-name>
    <servlet-class>meetmydoctor.Doctor_entry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Doctor_entry</servlet-name>
    <url-pattern>/Doctor_entry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginValidate</display-name>
    <servlet-name>LoginValidate</servlet-name>
    <servlet-class>meetmydoctor.LoginValidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginValidate</servlet-name>
    <url-pattern>/LoginValidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>meetmydoctor.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>meetmydoctor.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindDoc</display-name>
    <servlet-name>FindDoc</servlet-name>
    <servlet-class>meetmydoctor.FindDoc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindDoc</servlet-name>
    <url-pattern>/FindDoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Availability_entry</display-name>
    <servlet-name>Availability_entry</servlet-name>
    <servlet-class>meetmydoctor.Availability_entry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Availability_entry</servlet-name>
    <url-pattern>/Availability_entry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookApp</display-name>
    <servlet-name>BookApp</servlet-name>
    <servlet-class>meetmydoctor.BookApp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookApp</servlet-name>
    <url-pattern>/BookApp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Requests</display-name>
    <servlet-name>Requests</servlet-name>
    <servlet-class>meetmydoctor.Requests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Requests</servlet-name>
    <url-pattern>/Requests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Approve</display-name>
    <servlet-name>Approve</servlet-name>
    <servlet-class>meetmydoctor.Approve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Approve</servlet-name>
    <url-pattern>/Approve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cancel</display-name>
    <servlet-name>Cancel</servlet-name>
    <servlet-class>meetmydoctor.Cancel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cancel</servlet-name>
    <url-pattern>/Cancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppHistory</display-name>
    <servlet-name>AppHistory</servlet-name>
    <servlet-class>meetmydoctor.AppHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppHistory</servlet-name>
    <url-pattern>/AppHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_entry</display-name>
    <servlet-name>Admin_entry</servlet-name>
    <servlet-class>meetmydoctor.Admin_entry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_entry</servlet-name>
    <url-pattern>/Admin_entry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlockUser</display-name>
    <servlet-name>BlockUser</servlet-name>
    <servlet-class>meetmydoctor.BlockUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlockUser</servlet-name>
    <url-pattern>/BlockUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateReport</display-name>
    <servlet-name>GenerateReport</servlet-name>
    <servlet-class>meetmydoctor.GenerateReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateReport</servlet-name>
    <url-pattern>/GenerateReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Question_entry</display-name>
    <servlet-name>Question_entry</servlet-name>
    <servlet-class>meetmydoctor.Question_entry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question_entry</servlet-name>
    <url-pattern>/Question_entry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Answer</display-name>
    <servlet-name>Answer</servlet-name>
    <servlet-class>meetmydoctor.Answer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Answer</servlet-name>
    <url-pattern>/Answer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Answer_entry</display-name>
    <servlet-name>Answer_entry</servlet-name>
    <servlet-class>meetmydoctor.Answer_entry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Answer_entry</servlet-name>
    <url-pattern>/Answer_entry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllDoc</display-name>
    <servlet-name>FindAllDoc</servlet-name>
    <servlet-class>meetmydoctor.FindAllDoc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllDoc</servlet-name>
    <url-pattern>/FindAllDoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payment</display-name>
    <servlet-name>Payment</servlet-name>
    <servlet-class>meetmydoctor.Payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/Payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contact_entry</display-name>
    <servlet-name>Contact_entry</servlet-name>
    <servlet-class>meetmydoctor.Contact_entry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact_entry</servlet-name>
    <url-pattern>/Contact_entry</url-pattern>
  </servlet-mapping>
</web-app>